
<h1>Tasks</h1>

<%= link_to 'Create task', new_task_path, class: 'btn btn-primary' %>

<% if @tasks.any? %>
    <div id="tasks-list">
        <%= render partial: 'tasks_list', object: @tasks %>
    </div>
<% else %>
    <hr/>
    <p>No tasks here.</p>
<% end %>
