
<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<hr/>
<p>This task is <%= @task.completed? ? 'completed' : 'not completed' %>.</p>
<%= link_to 'Back', tasks_path, class: 'btn btn-default' %>