
<h1>Users</h1>

<%= link_to 'Create user', new_user_path, class: 'btn btn-primary' %>

<% if @users.any? %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Type</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <%= render partial: 'user', collection: @users %>
      </tbody>
    </table>
<% else %>
    <hr/>
    <p>No users.</p>
<% end %>
