
<tr>
  <td><%= category.name %></td>
  <td>
    <%= link_to 'edit', edit_category_path(category) %> |
    <%= link_to 'delete', category_path(category), method: :delete, data: {confirm: "Are you sure to delete category #{category.name}?"} %>
  </td>
</tr>
