<div class="form-group">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<%= f.submit 'Save', class: "btn btn-primary" %>
<%= link_to 'Cancel', categories_path, class: 'btn btn-default' %>
